@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-primary text-white">
            <div class="container-fluid">
                <h3>IoT Sensor Dashboard</h3>
            </div>
        </div>

        <article class="content px-4 py-4">
            @Body
        </article>
    </main>
</div>